#edit_panel
	ul
		li 
			a(href="/manager/?a=resource/update&amp;id=1") Редактировать
		li 
			span DB =
			span 0.08s
		li 
			span Queries =
			span 19
		li 
			span App =
			span 0.074s
		li 
			span Src =
			span cache
		li 
			span Total =
			span 0.18s