footer
	.scripts-area
	include ./dialog
	.items
		.item.logo
			a.logo(href="/")
				img(src="/assets/img/icons/logo_inverted.svg" width="263" height="60" loading="lazy")
			span.addr 220028, г.Минск, ул. Маяковского, 176, оф. 8Н
			span.copy © 2023, Частное предприятие «БТВФинанс»

		.item.nav
			ul
				li
					a(href="/about.html") О нас
				li
					a(href="/services.html") Услуги
				li
					a(href="/tarifs.html") Тарифы и цены
				li
					a(href="/news.html") Новости
			ul
				li
					a(href="/faq.html") Вопрос / Ответ
				li
					a(href="/contacts.html") Контакты

			a.policy(href="/") Политика конфиденциальности

		.item.tel
			ul
				li.tel
					a(href="tel:")
						img(src="/assets/img/icons/phone.svg" width="24" height="24")
						span +375 29 619-73-26
				li.email
					img(src="/assets/img/icons/email.svg" width="24" height="24")
					span info@btvfinans.by
			a.user(href="/") Пользовательское соглашение
		.item.soc
			.soc_list
				span Мы в социальных сетях:
				ul
					li.fb
						a(href="#")
							img(src="/assets/img/icons/fb.svg" width="24" height="24")
					li.inst
						a(href="#")
							img(src="/assets/img/icons/inst.svg" width="24" height="24")
					li.skype
						a(href="#")
							img(src="/assets/img/icons/skype.svg" width="24" height="24")
					li.vk
						a(href="#")
							img(src="/assets/img/icons/vk.svg" width="24" height="24")
			span.ask Консультация
			a.pub(href="/") Договор публичной оферты
		

					


