.preheader
	ul.contacts
		li.time
			img(src="/assets/img/icons/clock.svg" width="24" height="24")
			span Пн - Пт с 9:00 до 18:00
		li.phone
			a(href="tel:111")
				img(src="/assets/img/icons/phone.svg" width="24" height="24")
				span +375 29 619-73-26
		li.email
			img(src="/assets/img/icons/email.svg" width="24" height="24")
			span info@btvfinans.by
	ul.soc
		li.fb
			a(href="#")
				img(src="/assets/img/icons/fb.svg" width="24" height="24")
		li.inst
			a(href="#")
				img(src="/assets/img/icons/inst.svg" width="24" height="24")
		li.skype
			a(href="#")
				img(src="/assets/img/icons/skype.svg" width="24" height="24")
		li.vk
			a(href="#")
				img(src="/assets/img/icons/vk.svg" width="24" height="24")
		li.ask Консультация
header
	a.logo(href="/")
		img(src="/assets/img/icons/logo.svg" widht="263" height="60")
	nav
		ul
			li.active
				a(href="/about.html") О нас
			li.expandable
				span.title
					a(href="/services.html") Услуги
					include /svg/chevron.pug
				ul.f
					li.e
						a(href="/services.html") Комплексное бухгалтерское обслуживание
						ul
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании

					li.e
						a(href="#") Ведение участков бухгалтерского учета
						ul
							li
								a(href="#") Организации оптовой торговли
							li
								a(href="#") Производственные компании
							li
								a(href="#") Строительные компании
							li
								a(href="#") Организации оптовой торговли
					li.e
						a(href="#") Постановка бухгалтерского учета
					li.e
						a(href="#") Восстановление бухгалтерского учета
					li.e
						a(href="#") Разовые услуги
			li
				a(href="/tarifs.html") Тарифы и цены
			li
				a(href="/news.html") Новости
			li
				a(href="/faq.html") Вопрос / Ответ
			li
				a(href="/contacts.html") Контакты