.preheader
	ul.contacts
		li.time
			img(src="/assets/img/icons/clock.svg" width="24" height="24")
			span Пн - Пт с 9:00 до 18:00
		li.phone
			a(href="tel:111")
				img(src="/assets/img/icons/phone.svg" width="24" height="24")
				span +375 29 619-73-26
		li.email
			img(src="/assets/img/icons/email.svg" width="24" height="24")
			span info@btvfinans.by
	ul.soc
		li.fb
			a(href="#")
				img(src="/assets/img/icons/fb.svg" width="24" height="24")
		li.inst
			a(href="#")
				img(src="/assets/img/icons/inst.svg" width="24" height="24")
		li.skype
			a(href="#")
				img(src="/assets/img/icons/skype.svg" width="24" height="24")
		li.vk
			a(href="#")
				img(src="/assets/img/icons/vk.svg" width="24" height="24")
		li.ask Консультация


header
	a.logo(href="/")
		img(src="/assets/img/icons/logo.svg" widht="263" height="60")
	nav
		ul
			li
				a(href="/about.html") О нас
			li
				a(href="/services.html") Услуги
