section.content
	.postheader(style="background-image: url(/assets/img/pages/faq/bg.webp)")
		include ../../ui/bread
		
	article.article
		h1 Вопрос / Ответ
		.widget.accordion
			details
				summary В чем преимущество бухгалтерского аутсорсинга перед штатным бухгалтером?
				.content
					p Размер нашего гонорара за профессиональные услуги зависит от количества и сложности документов, участвующих в хозяйственном документообороте, и бизнес-процессов. При определении стоимости наших работ учитываются следующие показатели:		
					ul
						li
							li Система налогообложения: УСН- упрощенная система налогообложения (с НДС или без НДС) или ОСН- общая система налогообложения;
							li Наличие / отсутствие внешнеэкономической деятельности (импорт / экоспорт, иные валютные операции);
							li Количество сотрудников и формы оплаты их труда;
							li Количество операций в месяц (стоимость одной операции – порядка 1,5 доллара США.
					p <b>Операция это:</b>

					ul
						li Строка выписки банка (на приход или расход) = 1 операция;
						li Кассовый ордер = 1 операция;

					p
						b Необходимости предоставления дополнительных услуг, таких как:	

					ul
						li Услуги по ведению кадрового делопроизводства;
						li Услуги по осуществлению платежей в Интернет-банке;	
			details
				summary Какие документы необходимо будет передать для начала работы?
				.content
					p Размер нашего гонорара за профессиональные услуги зависит от количества и сложности документов, участвующих в хозяйственном документообороте, и бизнес-процессов. При определении стоимости наших работ учитываются следующие показатели:		
					ul
						li
							li Система налогообложения: УСН- упрощенная система налогообложения (с НДС или без НДС) или ОСН- общая система налогообложения;
							li Наличие / отсутствие внешнеэкономической деятельности (импорт / экоспорт, иные валютные операции);
							li Количество сотрудников и формы оплаты их труда;
							li Количество операций в месяц (стоимость одной операции – порядка 1,5 доллара США.
