section.content
	.postheader(style="background-image: url(/assets/img/pages/faq/bg.webp)")
		include ../../ui/bread
		
	article.article
		h1 Вопрос / Ответ
		.widget.accordion
			details
				summary Заявка к публичной оферте от 25.05.2023
				.content
					span Наименование заказчика сокращенное
					input(type="text" placeholder="Введите данные")
	