block variables

.widget.about
	if title == 'About'
		include ../bread
	.header
		h2 О нас
		if title == 'Index'
			a.arrowLink(href="/about.html")
				span Подробнее
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
	.content
		.dsc
			p Частное предприятие «БТВФинанс» предоставит возможность оптимизировать Ваши расходы на ведение бухгалтерского учета, сохраняя полный контроль над правильностью и своевременностью его ведения
			p Наша компания берет на себя бухгалтерское сопровождение Вашего бизнеса при:
			ul.ok
				li регистрации юридического лица и индивидуального предпринимателя
				li постановке бухгалтерского учета в компании
				li ведении бухгалтерского учета
				li восстановлении бухгалтерского учета
		.image
			img(src="/assets/img/ui/notebook_girl.webp" loading="lazy")
	