block variables

.widget.about
	if title == 'About'
		include ../bread
	.header
		h2 О нас
		if title == 'Index'
			a.arrowLink(href="/about.html")
				span Подробнее
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
	.content
		.dsc
			p Аутсорсинг в современной модели ведения бизнеса становится необходимым звеном. Как новым компаниям, так уже и опытным владельцам бизнеса, постоянно приходится решать вопросы оптимизации расходов на ведение деятельности. Оплата труда квалифицированных специалистов, содержание рабочего места, приобретение необходимых учетных программ – далеко не полный список расходов на организацию собственной бухгалтерской службы. Сокращение таких расходов приводит к снижению качества бухгалтерского и налогового учета, что повышает риск штрафных санкций и последующих проверок контролирующими органами. Обращение к специалистам-бухгалтерам или бухгалтерской компании обеспечит необходимый уровень бизнес-процессов и избавит от лишних финансовых вложений.
			p Частное предприятие «БТВФинанс» предоставит возможность оптимизировать Ваши расходы на ведение бухгалтерского учета, сохраняя полный контроль над правильностью и своевременностью его ведения
			p Наша компания берет на себя бухгалтерское сопровождение Вашего бизнеса при:
			ul.ok
				li регистрации юридического лица и индивидуального предпринимателя
				li постановке бухгалтерского учета в компании
				li ведении бухгалтерского учета
				li восстановлении бухгалтерского учета
		.features
			.header
				h2 Наши преимущества
			.items
				.item
					span.title Индивидуальный подход
					ul.ok
						li первичный аудит бухгалтерского учета
						li подбор схемы сотрудничества под требования клиента
						li подготовка стандартной отчетности
				.item
					span.title Экономия ресурсов
					ul.ok
						li автоматизация бух.учета, лицензионное ПО
						li опция главного бухгалтера
						li подготовка документации к архивации
				.item
					span.title Доступ к удаленному рабочему месту
					ul.ok
						li предоставление доступа к удаленному рабочему месту для оптимизации расходов на приобретение программного обеспечения
						li все необходимые документы в одном месте, с круглосуточным доступом
						li клиентская поддержка, возможность делегировать часть функций специалистам компании
				.item
					span.title Ежемесячный отчет
					ul.ok
						li ежемесячная отчетность
						li контроль первичных учетных документов
						li данные о переданных отчетах		

	