.widget.features
	.header
		h2 Наши преимущества
	.items
		.item
			span.title Индивидуальный подход
			ul.ok
				li первичный аудит бухгалтерского учета
				li подбор схемы сотрудничества под требования клиента
				li подготовка стандартной отчетности
		.item
			span.title Экономия ресурсов
			ul.ok
				li автоматизация бух.учета, лицензионное ПО
				li опция главного бухгалтера
				li подготовка документации к архивации
		.item
			span.title Доступ к удаленному рабочему месту
			ul.ok
				li предоставление доступа к удаленному рабочему месту для оптимизации расходов на приобретение программного обеспечения
				li все необходимые документы в одном месте, с круглосуточным доступом
				li клиентская поддержка, возможность делегировать часть функций специалистам компании
		.item
			span.title Ежемесячный отчет
			ul.ok
				li ежемесячная отчетность
				li контроль первичных учетных документов
				li данные о переданных отчетах
