.widget.partners.mb1
	.header
		h2 Наши парнеры
	.swiper.partners
		.swiper-wrapper
			.swiper-slide
				img(src="/assets/img/ui/swipers/partners/01.jpg")
			.swiper-slide
				img(src="/assets/img/ui/swipers/partners/02.jpg")
			.swiper-slide
				img(src="/assets/img/ui/swipers/partners/03.jpg")
			.swiper-slide
				img(src="/assets/img/ui/swipers/partners/04.jpg")
			.swiper-slide
				img(src="/assets/img/ui/swipers/partners/01.jpg")
	.swiper-nav
		.pagination
		.arrows
			img.prev(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
			img.next(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
		
