.widget.price_table
	.header
		h2 Стоимость
	.table
		.thead
			span Наименование услуги
			span Описание
			span Период
			span Цена, BYN
		.tbody
			.tr
				a(href="/service.html") Расчет заработной платы
				span Расчет ЗП, расчет подоходного налога, начисление взносов ФСЗН, сдача отчетов
				span час
				span 100
			.tr
				a(href="/service.html") Подоходный налог (индивидуальные предприниматели с наемными работниками)
				span Обработка первичных учетных документов до 20 шт., заполнение книг учета, расчет заработной платы и отчислений с фонда оплаты труда, составление деклараций и отчетности для передачи в налоговый и иные органы.
				span месяц
				span от 230
	.coef
		h2 Поправочные коэффициенты:
		ul
			li Дополнительно каждый вид деятельности – коэффициент 1.3 к базовой стоимости.
			li Внешнеэкономическая деятельность (экспорт, импорт) – коэффициент 1.3 к базовой стоимости.
			li Ведение учета затрат (на подоходном налоге) – коэффициент 2 к базовой стоимости.
			li Ведение учета с НДС с выставлением ЭСЧФ – коэффициент 1.5 к базовой стоимости.

		p Стоимость услуги рассчитывается индивидуально и зависит от количества операций в месяц и сферы деятельности организации Заказчика.	