.services_aside_nav
	ul
		li
			span.title Комплексное бухгалтерское обслуживание
			ul
				li.active
					a(href="/service.html") Организации оптовой торговли
				li
					a(href="/service.html") Производственные компании
				li
					a(href="/service.html") Строительные компании
				li
					a(href="/service.html") Компании, оказывающие услуги
				li
					a(href="/service.html") Индивидуальные предприниматели
		li
			span.title Ведение участков бухгалтерского учета
			ul
				li
					a(href="/service.html") Расчет заработной платы
				li
					a(href="/service.html") Банковские и кассовые операции
				li
					a(href="/service.html") Составление отчетности по валютным поступлениям
				li
					a(href="/service.html") Регистрация валютных договоров
				li
					a(href="/service.html") Расчеты с подотчетными лицами
				li
					a(href="/service.html") Обработка документов по движению товарно-материальных ценностей
				li
					a(href="/service.html") Обработка документов по внешнеэкономической деятельности
				li
					a(href="/service.html") Обработка документов по учету кредитных операций
				li
					a(href="/service.html") Расчеты с поставщиками и подрядчиками
				li
					a(href="/service.html") Расчет амортизационных отчислений