.widget.stages
	.header
		h2 Этапы работы
	.content
		ul
			li
				img(src="/assets/img/icons/send.svg" width="24" height="24")
				span.title Подача заявки
				span.dsc Оставляете заявку на сайте или связываетесь с нашим специалистом по телефону
			li
				img(src="/assets/img/icons/hearphones.svg" width="24" height="24")
				span.title Консультация
				span.dsc Мы рассчитываем индивидуальную стоимость обслуживания с учетом особенностей Вашего бизнеса
			li
				img(src="/assets/img/icons/graph.svg" width="24" height="24")
				span.title Результат
				span.dsc Вы предоставляете документы по хозяйственной деятельности, мы отражаем их в учете и составляем отчетность

		.decor
			img(src="/assets/img/ui/calc.jpg" width="594" height="313" loading="lazy")
