block variables
.widget.tarifs(class=(title == 'Tarifs' ? 't':''))
	.header
		if title == 'Index'
			h2 Тарифы и цены
		else
			h1 Тарифы и цены
		if title == 'Index'
			a.arrowLink(href="/tarifs.html")
				span Смотреть все
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
	.items
		.item
			h4 Упрощенная система налогообложения
			ul.ok
				li обработка первичных учетных документов
				li расчет заработной платы
				li заполнение книги учета доходов и расходов
				li составление и отправка отчетности
				li обработка ЭСЧФ
			.row
				span от 230 BYN / месяц
				a(href="/tarifs.html") Подробнее
		.item
			h4 Общая система налогообложения
			ul.ok
				li обработка первичных учетных документов
				li расчет заработной платы
				li заполнение книги учета доходов и расходов
				li составление и отправка отчетности
				li обработка ЭСЧФ
			.row
				span от 500 BYN / месяц
				a(href="/tarifs.html") Подробнее
		.item
			h4 Для индивидуальных предпринимателей
			ul.ok
				li при УСН и подоходном налоге
				li обработка первичных учетных документов
				li заполнение книги учета доходов и расходов
				li составление и отправка отчетности
				li обработка ЭСЧФ
			.row
				span от 180 BYN / месяц
				a(href="/tarifs.html") Подробнее
		.item
			h4 Дополнительные услуги для ИП и ЮР. лиц
			ul.ok
				li составление заявление о ввозе
				li составление деклараций и иной отчетности
				li составление квартальной отчетности
				li составление годовой отчетности
				li восстановление бухгалтерского и (или) налогового учета
			.row
				span от 50 BYN / час
				a(href="/tarifs.html") Подробнее
