.widget.testimonials.mb1
	.header
		h2 Отзывы
	.swiper.testimonials
		.swiper-wrapper
			.swiper-slide
				span.name Василий
				span.role Директор компании “ЛайтТайм”
				.content
					p Сотрудничать с этой компанией - одно удовольствие! Всегда оперативно реагируют на все возникающие вопросы и помогают в разрешении любых проблем. Я уверен, что мой бизнес в надежных руках благодаря «БТВФинанс»
			.swiper-slide
				span.name Ангелина
				span.role Директор компании “ЭкоФуд”
				.content
					p Я очень довольна, что выбрала компанию «БТВФинанс»! Их профессиональный подход к работе порадовал меня и позволил сосредоточиться на ведении своего бизнеса. Спасибо большое за качественное обслуживание!
			.swiper-slide
				span.name Василий
				span.role Директор компании “ЛайтТайм”
				.content
					p Сотрудничать с этой компанией - одно удовольствие! Всегда оперативно реагируют на все возникающие вопросы и помогают в разрешении любых проблем. Я уверен, что мой бизнес в надежных руках благодаря «БТВФинанс»
			.swiper-slide
				span.name Ангелина
				span.role Директор компании “ЭкоФуд”
				.content
					p Я очень довольна, что выбрала компанию «БТВФинанс»! Их профессиональный подход к работе порадовал меня и позволил сосредоточиться на ведении своего бизнеса. Спасибо большое за качественное обслуживание!
	.swiper-nav
		.pagination
		.arrows
			img.prev(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
			img.next(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
		
