section.content
	.postheader(style="background-image: url(/assets/img/pages/article/bg.webp)")
		include ../../ui/bread
		
	article.article
		h1 Изменения для индивидуальных предпринимателей с 1 июля 2023 
		.wrap
			.txt
				.date
					img(src="/assets/img/icons/calendar.svg" width="24" height="24")
					span Опубликовано
					span 5 мая 2023
				p На pravo.by не так давно опубликовали проект закона «Об изменении законов по вопросам предпринимательской деятельности» (далее — проект закона). В документе указано, что индивидуальный предприниматель (ИП) вправе зарегистрировать коммерческую организацию (ЧУП, ООО), и приводится порядок ее создания.
				h2 Как стать ИП?
				p Согласно проекту закона Совмин РБ утвердит Перечень видов деятельности, которые с 1 июля 2023г. смогут осуществлять индивидуальные предприниматели. Те, кто зарегистрирован до указанной даты, смогут осуществлять свою деятельность, независимо от того, войдет ли она в Перечень, до 31 декабря 2025 г., поэтому, если вы не уверены, в какой сфере хотите вести бизнес, успейте оформиться до 1 июля — это позволит 2,5 года работать в любом направлении.
				p Чтобы зарегистрироваться в качестве ИП, нужно обратиться в облисполком или областной горисполком по месту регистрации. Эти органы могут передать полномочия на регистрацию в районные и городские органы.
				p.b Для регистрации нужно подготовить необходимые документы:
				ul
					li заявление — его форма есть на сайте регистрирующего органа, распечатайте и заполните все поля;
					li одна фотография размером 3(4)×4(5) см;
					li документ о том, что государственная пошлина оплачена. Пошлину уплачивать не нужно официальным безработным, студентам (нужна справка об обучении на дневной форме обучения).
				h2 Порядок создания ИП коммерческой организации
				p При создании коммерческой организации права, обязанности, ответственность, принадлежавшие ИП, переходят к вновь созданной фирме начиная с даты госрегистрации на прежних условиях.
				
			.sidebar
				span.header Читайте также
				ul
					li
						a(href="#") Платим налог на недвижимость с физических лиц в 2023
						span 12 апреля 2023
					li
						a(href="#") Регистрация ООО с одним и несколькими участниками
						span 17 апреля 2023
					li
						a(href="#") Какие бывают дотации в РБ на оздоровление детей
						span 20 февраля 2023