mixin article(img, title, excerpt, date)
	.swiper-slide
		img(src=`/assets/img/pages/home/news/${img}.jpg`)
		.dsc
			a.title(href="/article.html")= title
			span.excerpt= excerpt
		.date
			img(src="/assets/img/icons/calendar.svg" width="24" height="24")
			span= date