section.content
	.postheader(style="background-image: url(/assets/img/pages/tarifs/bg.webp)")
		include ../../ui/bread
	article.article
		include ../../ui/widgets/tarifs
		include ../../ui/widgets/price_table
		