section.content
	.postheader
		.bg(style="background-image:url(/assets/img/pages/home/Frame1597883061.webp)")
		.dsc
			h1 Ведение бухгалтерского учета
			h2 Бухгалтерский учёт для организаций и индивидуальных предпринимателей
			a(href="/services.html") Услуги
		.stats
			.item
				.age
					img(src="/assets/img/icons/fat_chevron.svg" width="32" heigth="32" alt="")
					span 12 лет
				span.dsc успешно предлагаем бухгалтерские услуги
			.item
				.age
					img(src="/assets/img/icons/fat_chevron.svg" width="32" heigth="32" alt="")
					span 10 лет
				span.dsc сотрудничества с постоянными клиентами

	.widget.services
		
		.header
			h2 Бухгалтерские услуги
			a(href="/services.html") Смотреть все

		.swiper.services
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/01.jpg" width="466")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/02.jpg" width="466")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/03.jpg" width="466")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/01.jpg" width="466")
		.swiper-nav
			.pagination
			.arrows
				img.prev(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
				img.next(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
