section.content
	.postheader
		.bg(style="background-image:url(/assets/img/pages/home/Frame1597883061.webp)")
		.dsc
			h1 Ведение бухгалтерского учета
			h2 Бухгалтерский учёт для организаций и индивидуальных предпринимателей
			a(href="/services.html") Услуги
		.stats
			.item
				.age
					img(src="/assets/img/icons/fat_chevron.svg" width="32" heigth="32" alt="")
					span 12 лет
				span.dsc успешно предлагаем бухгалтерские услуги
			.item
				.age
					img(src="/assets/img/icons/fat_chevron.svg" width="32" heigth="32" alt="")
					span 10 лет
				span.dsc сотрудничества с постоянными клиентами
	.widget.services
		.header
			h2 Бухгалтерские услуги
			a.arrowLink(href="/services.html")
				span Смотреть все
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
		.swiper.services
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/01.jpg" width="466")
					.dsc
						span.title Юридические лица
						.more
							ul.ok
								li Ведение как полного бухгалтерского учета, так и учета в книгах учета доходов и расходов организаций и индивидуальных предпринимателей 
								li Выполнение функций главного бухгалтера в организации
								li Обработка первичной учетной документации
								li Консультирование в области бухгалтерского и налогового учета
							a.go.arrowLink(href="/services.html")
								span Подробнее
								img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/02.jpg" width="466")
					.dsc
						span.title Индивидуальные предприниматели
						.more
							ul.ok
								li Ведение книг учета индивидуальных предпринимателей, уплачивающих подоходный налог
								li Разовое составление отчетности при небольшом документообороте
							a.go.arrowLink(href="/services.html")
								span Подробнее
								img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/03.jpg" width="466")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/01.jpg" width="466")
		.swiper-nav
			.pagination
			.arrows
				img.prev(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
				img.next(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
	.widget.stages
		.header
			h2 Этапы работы
		.content
			ul
				li
					img(src="/assets/img/icons/send.svg" width="24" height="24")
					span.title Подача заявки
					span.dsc Оставляете заявку на сайте или связываетесь с нашим специалистом по телефону
				li
					img(src="/assets/img/icons/hearphones.svg" width="24" height="24")
					span.title Консультация
					span.dsc Мы рассчитываем индивидуальную стоимость обслуживания с учетом особенностей Вашего бизнеса
				li
					img(src="/assets/img/icons/graph.svg" width="24" height="24")
					span.title Результат
					span.dsc Вы предоставляете документы по хозяйственной деятельности, мы отражаем их в учете и составляем отчетность

			.decor
				img(src="/assets/img/ui/calc.jpg" width="594" height="313" loading="lazy")
	.widget.tarifs
		.header
			h2 Тарифы и цены
			a.arrowLink(href="/tarifs.html")
				span Смотреть все
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
		.items
			.item
				h4 Упрощенная система налогообложения
				ul.ok
					li обработка первичных учетных документов
					li расчет заработной платы
					li заполнение книги учета доходов и расходов
					li составление и отправка отчетности
					li обработка ЭСЧФ
				.row
					span от 230 BYN / месяц
					a(href="/tarifs.html") Подробнее
			.item
				h4 Общая система налогообложения
				ul.ok
					li обработка первичных учетных документов
					li расчет заработной платы
					li заполнение книги учета доходов и расходов
					li составление и отправка отчетности
					li обработка ЭСЧФ
				.row
					span от 500 BYN / месяц
					a(href="/tarifs.html") Подробнее
			.item
				h4 Для индивидуальных предпринимателей
				ul.ok
					li при УСН и подоходном налоге
					li обработка первичных учетных документов
					li заполнение книги учета доходов и расходов
					li составление и отправка отчетности
					li обработка ЭСЧФ
				.row
					span от 180 BYN / месяц
					a(href="/tarifs.html") Подробнее
			.item
				h4 Дополнительные услуги для ИП и ЮР. лиц
				ul.ok
					li составление заявление о ввозе
					li составление деклараций и иной отчетности
					li составление квартальной отчетности
					li составление годовой отчетности
					li восстановление бухгалтерского и (или) налогового учета
				.row
					span от 50 BYN / час
					a(href="/tarifs.html") Подробнее
	.widget.about
		.header
			h2 О нас
			a.arrowLink(href="/tarifs.html")
				span Подробнее
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
		.content
			.dsc
				p Частное предприятие «БТВФинанс» предоставит возможность оптимизировать Ваши расходы на ведение бухгалтерского учета, сохраняя полный контроль над правильностью и своевременностью его ведения
				p Наша компания берет на себя бухгалтерское сопровождение Вашего бизнеса при:
				ul.ok
					li регистрации юридического лица и индивидуального предпринимателя
					li постановке бухгалтерского учета в компании
					li ведении бухгалтерского учета
					li восстановлении бухгалтерского учета
			.image
				img(src="/assets/img/ui/notebook_girl.webp" loading="lazy")
	.widget.features
		.header
			h2 Наши преимущества
		.items
			.item
				span.title Индивидуальный подход
				ul.ok
					li первичный аудит бухгалтерского учета
					li подбор схемы сотрудничества под требования клиента
					li подготовка стандартной отчетности
			.item
				span.title Экономия ресурсов
				ul.ok
					li автоматизация бух.учета, лицензионное ПО
					li опция главного бухгалтера
					li подготовка документации к архивации
			.item
				span.title Доступ к удаленному рабочему месту
				ul.ok
					li предоставление доступа к удаленному рабочему месту для оптимизации расходов на приобретение программного обеспечения
					li все необходимые документы в одном месте, с круглосуточным доступом
					li клиентская поддержка, возможность делегировать часть функций специалистам компании
			.item
				span.title Ежемесячный отчет
				ul.ok
					li ежемесячная отчетность
					li контроль первичных учетных документов
					li данные о переданных отчетах
	.widget.callback
		.header
			h2 Оставить заявку
		form
			span Свяжитесь с нами и мы подберём для Вас самый выгодный вариант сотрудничества
			label
				span Ваше имя
				input(type="text")
			label
				span Ваш номер телефона <font color="red">*</font>
				input(type="text" placeholder="+375 (xx) xxx xx xx" required)
			label
				span Сообщение
				textarea(placeholder="Введите текст")
			.accept
				label
					input(type="checkbox" checked)
					span
					span Я принимаю условия <a href="#">Пользовательского соглашения</a> и <a href="#">Политику конфиденциальности</a>
			button(type="submit") Отправить
	.widget.accordion
		details
			summary Заявка к публичной оферте от 25.05.2023
			.content
				span Наименование заказчика сокращенное
				input(type="text" placeholder="Введите данные")
	.widget.news
		.header
			h2 Новости
			a.arrowLink(href="/news.html")
				span Смотреть все
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
		.swiper.news
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/pages/home/news/01.jpg")
					.dsc
						a.title(href="/article.html") Изменения для индивидуальных предпринимателей с 1 июля 2023
						span.excerpt На pravo.by не так давно опубликовали проект закона «Об изменении законов по вопросам предпринимательской деятельно..
					.date
						img(src="/assets/img/icons/calendar.svg" width="24" height="24")
						span 16 июня 2023 
				.swiper-slide
					img(src="/assets/img/pages/home/news/02.jpg")
					.dsc
						a.title(href="/article.html") Изменения НДС в 2023
						span.excerpt В Беларуси в 2023 году вступил в силу Закон № 230-З, предусматривающий внесение изменений и дополнений в некоторые зако...
					.date
						img(src="/assets/img/icons/calendar.svg" width="24" height="24")
						span 05 мая 2023 
				.swiper-slide
					img(src="/assets/img/pages/home/news/03.jpg")
					.dsc
						a.title(href="/article.html") Платим налог на недвижимость с физических лиц в 2023 
						span.excerpt Получили уведомление об уплате налога на недвижимость? В 2023г. мы с Вами платим налог за 2022г. Уплата налога на недвижи..
					.date
						img(src="/assets/img/icons/calendar.svg" width="24" height="24")
						span 12 апреля 2023
				.swiper-slide
					img(src="/assets/img/pages/home/news/01.jpg")
					.dsc
						a.title(href="/article.html") Изменения для индивидуальных предпринимателей с 1 июля 2023
						span.excerpt На pravo.by не так давно опубликовали проект закона «Об изменении законов по вопросам предпринимательской деятельно..
					.date
						img(src="/assets/img/icons/calendar.svg" width="24" height="24")
						span 16 июня 2023
		.swiper-nav
			.pagination
			.arrows
				img.prev(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
				img.next(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
		