section.content
	.postheader
		.bg(style="background-image:url(/assets/img/pages/home/Frame1597883061.webp)")
		.dsc
			h1 Ведение бухгалтерского учета
			h2 Бухгалтерский учёт для организаций и индивидуальных предпринимателей
			a(href="/services.html") Услуги
		.stats
			.item
				.age
					img(src="/assets/img/icons/fat_chevron.svg" width="32" heigth="32" alt="")
					span 12 лет
				span.dsc успешно предлагаем бухгалтерские услуги
			.item
				.age
					img(src="/assets/img/icons/fat_chevron.svg" width="32" heigth="32" alt="")
					span 10 лет
				span.dsc сотрудничества с постоянными клиентами
	.widget.services
		.header
			h2 Бухгалтерские услуги
			a.arrowLink(href="/services.html")
				span Смотреть все
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
		.swiper.services
			.swiper-wrapper
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/01.jpg" width="466")
					.dsc
						span.title Юридические лица
						.more
							ul.ok
								li Ведение как полного бухгалтерского учета, так и учета в книгах учета доходов и расходов организаций и индивидуальных предпринимателей 
								li Выполнение функций главного бухгалтера в организации
								li Обработка первичной учетной документации
								li Консультирование в области бухгалтерского и налогового учета
							a.go.arrowLink(href="/services.html")
								span Подробнее
								img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/02.jpg" width="466")
					.dsc
						span.title Индивидуальные предприниматели
						.more
							ul.ok
								li Ведение книг учета индивидуальных предпринимателей, уплачивающих подоходный налог
								li Разовое составление отчетности при небольшом документообороте
							a.go.arrowLink(href="/services.html")
								span Подробнее
								img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/03.jpg" width="466")
				.swiper-slide
					img(src="/assets/img/ui/swipers/services/01.jpg" width="466")
		.swiper-nav
			.pagination
			.arrows
				img.prev(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
				img.next(src="/assets/img/icons/fat_chevron.svg" width="23" height="22")
	include ../../ui/widgets/stages
	.widget.tarifs
		.header
			h2 Тарифы и цены
			a.arrowLink(href="/tarifs.html")
				span Смотреть все
				img(src="/assets/img/icons/arrowLink.svg" width="59" height="13")
		.items
			.item
				h4 Упрощенная система налогообложения
				ul.ok
					li обработка первичных учетных документов
					li расчет заработной платы
					li заполнение книги учета доходов и расходов
					li составление и отправка отчетности
					li обработка ЭСЧФ
				.row
					span от 230 BYN / месяц
					a(href="/tarifs.html") Подробнее
			.item
				h4 Общая система налогообложения
				ul.ok
					li обработка первичных учетных документов
					li расчет заработной платы
					li заполнение книги учета доходов и расходов
					li составление и отправка отчетности
					li обработка ЭСЧФ
				.row
					span от 500 BYN / месяц
					a(href="/tarifs.html") Подробнее
			.item
				h4 Для индивидуальных предпринимателей
				ul.ok
					li при УСН и подоходном налоге
					li обработка первичных учетных документов
					li заполнение книги учета доходов и расходов
					li составление и отправка отчетности
					li обработка ЭСЧФ
				.row
					span от 180 BYN / месяц
					a(href="/tarifs.html") Подробнее
			.item
				h4 Дополнительные услуги для ИП и ЮР. лиц
				ul.ok
					li составление заявление о ввозе
					li составление деклараций и иной отчетности
					li составление квартальной отчетности
					li составление годовой отчетности
					li восстановление бухгалтерского и (или) налогового учета
				.row
					span от 50 BYN / час
					a(href="/tarifs.html") Подробнее
	include ../../ui/widgets/about
	include ../../ui/widgets/features
	.widget.callback
		.header
			h2 Оставить заявку
		form
			span Свяжитесь с нами и мы подберём для Вас самый выгодный вариант сотрудничества
			label
				span Ваше имя
				input(type="text")
			label
				span Ваш номер телефона <font color="red">*</font>
				input(type="text" placeholder="+375 (xx) xxx xx xx" required)
			label
				span Сообщение
				textarea(placeholder="Введите текст")
			.accept
				label
					input(type="checkbox" checked)
					span
					span Я принимаю условия <a href="#">Пользовательского соглашения</a> и <a href="#">Политику конфиденциальности</a>
			button(type="submit") Отправить
	.widget.accordion
		details
			summary Заявка к публичной оферте от 25.05.2023
			.content
				span Наименование заказчика сокращенное
				input(type="text" placeholder="Введите данные")
	include ../../ui/widgets/news
	include ../../ui/widgets/testimonials