section.content
	.postheader(style="background-image: url(/assets/img/pages/contacts/bg.webp)")
		include ../../ui/bread
	article.article
		h1 Контакты
		.wrap
			.contacts
				ul
					li
						img(src="/assets/img/icons/pin.svg" width="24" height="24")
						span 220028, г.Минск, ул. Маяковского, 176, оф. 8Н
					li
						img(src="/assets/img/icons/clock_dark.svg" width="24" height="24")
						span Пн.-Пт. с 9-00 до 18-00
					li
						a(href="tel:123")
							img(src="/assets/img/icons/phone_dark.svg" width="24" height="24")
							span +375 29 619-73-26
					li
						img(src="/assets/img/icons/email_dark.svg" width="24" height="24")
						span info@btvfinans.by	
					li
						a(href="tel:123")
							img(src="/assets/img/icons/link.svg" width="24" height="24")
							span Реквизиты
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.1334082994804!2d27.56685367734865!3d53.85827563629585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1c62e7b9149%3A0xc2673df3a18f2c81!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDE3Niwg0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1701946446504!5m2!1sru!2sby" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

			include ../../ui/widgets/callback