section.content
	.postheader(style="background-image: url(/assets/img/pages/services/bg.webp)")
		include ../../ui/bread
	article.article
		h1 Услуги
		.wrap
			include ../../ui/widgets/services_aside_nav
			.content
				p Мы предоставляем вам весь комплекс услуг по ведению бухгалтерского учета. Весь перечень работ с документацией, проведение ее по электронной базе и обработка, а также отражение хозяйственных операций на счетах и книгах учета.
				.item
					h2 Комплексное бухгалтерское обслуживание
					ul
						li
							a(href="/service.html") Организации оптовой торговли
						li
							a(href="/service.html") Производственные компании
						li
							a(href="/service.html") Строительные компании
						li
							a(href="/service.html") Компании, оказывающие услуги
						li
							a(href="/service.html") Индивидуальные предприниматели
				.item
					h2 Ведение участков бухгалтерского учета
					ul
						li
							a(href="/service.html") Расчет заработной платы
						li
							a(href="/service.html") Банковские и кассовые операции
						li
							a(href="/service.html") Составление отчетности по валютным поступлениям
						li
							a(href="/service.html") Регистрация валютных договоров
						li
							a(href="/service.html") Расчеты с подотчетными лицами
						li
							a(href="/service.html") Обработка документов по движению товарно-материальных ценностей
						li
							a(href="/service.html") Обработка документов по внешнеэкономической деятельности
						li
							a(href="/service.html") Обработка документов по учету кредитных операций
						li
							a(href="/service.html") Расчеты с поставщиками и подрядчиками
						li
							a(href="/service.html") Расчет амортизационных отчислений
		include ../../ui/widgets/callback