$light_blue: #EDF7FF
$blue: #011B3E
$dark: #4C597C
$grey: #F4F4F4
$hover_blue: invert(11%) sepia(17%) saturate(5636%) hue-rotate(193deg) brightness(89%) contrast(107%)
$hover_light_blue: invert(85%) sepia(98%) saturate(7083%) hue-rotate(178deg) brightness(109%) contrast(104%)

$card_shadow: 0px 8px 16px 0px rgba(23, 23, 23, 0.12), 0px 2px 1px 0px rgba(23, 23, 23, 0.04)

@font-face
	font-family: 'SF Pro Text'
	font-style: normal
	font-weight: 300
	src: local('SF Pro Text'), local('SF Pro Text Light'), url('/assets/fonts/sf-pro-text-light.woff2') format('woff2')
	font-display: block

@font-face
	font-family: 'SF Pro Text'
	font-style: normal
	font-weight: 400
	src: local('SF Pro Text'), local('SF Pro Text Regular'), url('/assets/fonts/sf-pro-text-regular.woff2') format('woff2')
	font-display: block

@font-face
	font-family: 'SF Pro Text'
	font-style: normal
	font-weight: 500
	src: local('SF Pro Text'), local('SF Pro Text Medium'), url('/assets/fonts/sf-pro-text-medium.woff2') format('woff2')
	font-display: block

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	margin: 0
	padding: 0
	font-family: 'SF Pro Text', sans-serif

ul
	margin: 0
	padding: 0
	list-style: none
	&.ok
		padding-left: 22px
		position: relative
		li
			&:before
				content: url(/assets/img/icons/ok.svg)
				position: absolute
				left: 0
				filter: $hover_blue
a.arrowLink
	display: flex
	align-items: center
	gap: 12px
	text-decoration: none
	letter-spacing: 2%
	&:hover
		text-decoration: underline
nav.bread
	padding-top: 2rem
	color: $dark
	font-size: 14px
	a
		color: $blue

	ol
		list-style: none
		padding-left: 0
		display: flex
		gap: 1rem
		margin: 0
		li
			&:not(:last-child)
				&:after
					content: "/"
					padding-left: 1rem
img, picture,svg
	max-width: 100%
	display: block
.swiper
	&-wrapper
		.swiper-slide
			border-radius: 4px
			img
				border-radius: 4px
%header
	font-size: 24px
	color: $blue
	font-weight: 500
	margin: 0




.mt1
	margin-top: 1rem
.mb1
	margin-bottom: 1rem
.mt2
	margin-top: 2rem
.mb2
	margin-bottom: 2rem
.mt3
	margin-top: 3rem
.mb3
	margin-bottom: 3rem		

$desktop: 1440px
$notebook: 100%

@mixin mw()
	@media(min-width: 1900px)
		margin: 0 calc(50% - $desktop/2)
	@media(max-width: 1899px)
		margin: 0 1rem

@mixin pw()
	@media(min-width: 1900px)
		padding: 0 calc(50% - $desktop/2)
	@media(max-width: 1899px)
		padding: 1rem
#edit_panel
	background-color: #E9F0F4
	padding: 13px
	font-size: 14px
	@include mw
	a
		color: #111
	ul
		display: flex
		gap: 20px
		flex-wrap: wrap
		@media(max-width: 400px)
			gap: 5px
		li
			span
				&:last-of-type
					margin-left: 3px

section.content
	@include mw

.services_aside_nav
		background-color: $light_blue
		align-self: flex-start
		font-size: 15px
		min-width: 312px
		ul
			li
				.title
					position: relative
					padding-top: 0.5rem
					padding-right: 1.5rem
					padding-left: 1.5rem
					padding-bottom: 0.5rem
					cursor: pointer
					transition: all 0.3s ease
					border-radius: 4px
					display: block
					&:first-of-type
						padding-top: 1rem
					&:hover
						background-color: $blue
						color: $light_blue
						&:after
							filter: brightness(0), saturate(100%)
							filter: $hover_light_blue
					&:after
						content: url(/assets/img/icons/chevron.svg)
						position: absolute
						right: 1.5rem
						top: 42%
						width: 1rem
						height: 1rem
						transition: all 0.3s ease
				ul
					display: none
					padding-left: 2rem
				&.open
					.title
						background-color: $blue
						color: $light_blue
						&:after
							filter: brightness(0), saturate(100%)
							filter: $hover_light_blue
							transform: rotate(180deg)
					ul
						display: block
						margin: 1rem 0
						display: flex
						flex-direction: column
						gap: 12px
						li
							&.active
								a
									text-decoration: underline
									&:hover
										text-decoration: none
