.preheader
	@include mw
	background: url(/assets/img/ui/bg.jpg)
	margin-top: 1rem !important
	display: flex
	font-size: 14px
	color: #fff
	padding: 8px 60px
	a
		color: #fff
		text-decoration: none
		&:hover
			text-decoration: underline
	ul
		display: flex
		font-weight: 300
		&.soc
			gap: 12px
			align-items: center
			li
				&.ask
					background-color: $light_blue
					color: $blue
					padding: 12px 40px
					border-radius: 4px
					margin-left: 12px
					cursor: pointer
					border: 1px solid transparent
					&:hover
						background-color: #D8E2ED
					&:active
						color: $light_blue
						border-color: $light_blue
						background-color: transparent
				a
					&:hover
						opacity: 0.85
		&.contacts
			gap: 54px
			flex-grow: 1
			letter-spacing: 0.7px
			img
				margin-right: 1rem
			li
				align-items: center
				display: flex
				a
					display: flex
					align-items: center
header
	@include mw
	display: flex
	padding: 1rem 60px
	align-items: center
	background: linear-gradient(111deg, rgba(255, 255, 255, 0.50) -8.95%, rgba(255, 255, 255, 0.60) 114%)
	backdrop-filter: blur(7.5px)
	position: relative
	z-index: 2
	a.logo
		flex-grow: 1
	nav
		a
			color: $dark
			text-decoration: none
			&:hover
				text-decoration: underline
		>ul
			display: flex
			gap: 1rem
			>li
				&:not(:last-child)
					&:after
						content: url(/assets/img/icons/d.svg)
						margin-left: 1rem
						position: relative
						top: 3px
				&:last-child
					transform: translateY(3px)

				&.expandable
					ul
						display: none
					svg
						width: 16px
						height: 16px
						display: inline-block
						margin-left: 11px
					.title
						display: inline-flex
						align-items: center	
.widget
	.header
		h2
			font-size: 24px
			color: $blue
			font-weight: 600
	&.services
		.header
			display: flex
			justify-content: space-between
			align-items: center
	.swiper-nav
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 2rem
		.pagination
			background-color: #F4F4F4
			border-radius: 8px
			width: auto
			padding: 5px 10px
			span
				transition: all 0.3s ease
				&.swiper-pagination-bullet
					//background-color: rgba(200, 208, 221, 1)
				&.swiper-pagination-bullet-active
					background-color: $blue
					transform: scale(0.8)
		.arrows
			display: flex
			gap: 1rem
			img
				background-color: $light_blue
				padding: 11px
				border-radius: 50%
				box-sizing: content-box
				cursor: pointer
				&:hover
					opacity: 0.5
				&.prev
					transform: rotate(180deg)
body.index-page
	section.content
		@include mw
	.postheader
		height: 557px
		background-position: center
		background-repeat: no-repeat
		position: relative
		margin-top: -92px !important
		background-color: #eee
		.bg
			z-index: 0
			position: absolute
			width: 100%
			height: 100%
		>.dsc
			max-width: 520px
			display: flex
			gap: 1rem
			flex-direction: column
			position: absolute
			z-index: 2
			left: 60px
			bottom: 92px
			h1
				font-size: 32px
				color: $blue
				font-weight: 500
				margin: 0
			h2
				font-size: 24px
				color: $dark
				font-weight: 500
				margin: 0
			a
				background-color: $blue
				color: #fff
				padding: 12px 39px
				text-decoration: none
				border-radius: 4px
				width: 127px
				&:hover
					background-color: #1D375A
				
		.stats
			position: absolute
			bottom: 0
			right: 0
			display: flex
			.item
				display: flex
				flex-direction: column
				gap: 12px
				padding: 1rem 24px
				justify-content: center
				align-items: center
				text-align: center
				width: 260px
				&:first-of-type
					background-color: $blue
					color: $light_blue
					.age
						img
							filter: $hover_light_blue
				&:last-of-type
					background-color: $light_blue
					color: $blue
					.age
						img
							filter: $hover_blue
				.age
					display: flex
					align-items: center
					font-size: 32px
					font-weight: 500
				span.dsc
					font-weight: 400
					line-height: 120%
			

	