.preheader
	@include mw
	background: url(/assets/img/ui/bg.jpg)
	margin-top: 1rem !important
	display: flex
	font-size: 14px
	color: #fff
	padding: 8px 60px
	a
		color: #fff
		text-decoration: none
		&:hover
			text-decoration: underline
	ul
		display: flex
		font-weight: 300
		&.soc
			gap: 12px
			align-items: center
			li
				&.ask
					background-color: $light_blue
					color: $blue
					padding: 12px 40px
					border-radius: 4px
					margin-left: 12px
					cursor: pointer
					border: 1px solid transparent
					&:hover
						background-color: #D8E2ED
					&:active
						color: $light_blue
						border-color: $light_blue
						background-color: transparent
				a
					&:hover
						opacity: 0.85
		&.contacts
			gap: 54px
			flex-grow: 1
			letter-spacing: 0.7px
			img
				margin-right: 1rem
			li
				align-items: center
				display: flex
				a
					display: flex
					align-items: center
header
	@include mw
	display: flex
	padding: 1rem 60px
	align-items: center
	background: linear-gradient(111deg, rgba(255, 255, 255, 0.50) -8.95%, rgba(255, 255, 255, 0.60) 114%)
	backdrop-filter: blur(7.5px)
	a.logo
		flex-grow: 1
	nav
		a
			color: $dark
			text-decoration: none
			&:hover
				text-decoration: underline
		>ul
			display: flex
			gap: 1rem
			>li
				&:not(:last-child)
					&:after
						content: url(/assets/img/icons/d.svg)
						margin-left: 1rem
						position: relative
						top: 3px
				&:last-child
					transform: translateY(3px)

				&.expandable
					ul
						display: none
					svg
						width: 16px
						height: 16px
						display: inline-block
						margin-left: 11px
					.title
						display: inline-flex
						align-items: center	
body.index-page
	.postheader
		@include mw
		height: 557px
		background-position: center
		background-repeat: no-repeat
		position: relative
		margin-top: -92px !important
		z-index: -1

	